@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  outline: 0;
  color: #fff;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 14px;
}
body,html {
  background: #fff;
}
/* MAIN COLOR */
:root {
  --main-yellow: #FEB319;
}

.main-title {
  background: var(--main-yellow);
  padding: 0 35px;
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  line-height: 40px;
  display: inline-block;
  margin: 0 auto;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 30px;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
}

html {
  margin-top: 0 !important
}

a,
a:active,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
  margin-bottom: 10px;
}

img {
  width: 100%;
}
 /* END GENERAL STYLE */





/* Contacts */

.cont-bg-100vw {
  max-width: 100%;
  background-image: url(../images/table-bg.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

.title-contact {
  margin-top: 30px;
}

.fa-facebook {
  margin-left: 10px;
  color: #3b5998;

}

.fa-instagram {
  margin-right: 10px;
  color: #ED5E40;
  
}

.container-contacts {
  height: 80vh;
  max-width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.contact-title (
  font
)

.container-contacts div{
  margin-bottom: 15px;
}

.container-map {
  height: 100vh;
}


.sm-icons {
  font-size: 40px;
  
}

.text-above-form {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 270px;
}

.form *{
  padding: 15px auto;
  border: black 2px solid;
  color: #000000;
  border-radius: 3px;
  background: rgb(231, 224, 224);
  padding-left: 10px;

  
}

.form-submit {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-btn {
  background: var(--main-yellow);
  width: 35%;
  margin: 15px auto;
  padding-left: 0;
}



/* Class for map */

#map {
  width: 100%;
  height: 100%;
}

.maps-class {
  padding: 0;
  height: 80vh;
  border: 2px  var(--main-yellow);
}








/* Footer */

.footer-logo {
  display: flex;
  justify-content: center;
}

.site-info {
  color: #000000;
  padding-top: 15px;
}

.foot-content {
  display: flex;
  justify-content: center;
  text-align: center;
}






@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 760px) {

}

@media screen and (max-width: 575px) {

}

@media (max-width: 360px) {

}